@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-3">Welcome to Xardas Bookstore</h1>
    <p class="lead">The best place to find your next book!</p>
    <img src="~/css/Xardas.jpg" alt="Image" class="img-fluid rounded" />
</div>
